/*--- page ---*/

body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-weight: 700;
}

/*--- navigation bar ---*/

.navbar {}

.p-color {}

.navbar-toggler {
	width: 47px;
	height: 34px;
	background-color: #fff;
	border: none;
}

.navbar-toggler .line {
	border: 1px solid #028090;
	width: 100%;
	float: left;
	height: 2px;
	background-color: #fff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.navbar-toggler::after {
	border: none;
}

.navbar-toggler:hover {
	border: none;
}

.nav-link {
	color: #000;
	font-size: 110%;
	font-weight: 700;
	cursor: pointer;
}

.navbar-brand {
	color: #F6AE2D;
	font-size: 140%;
	font-weight: 700;
	cursor: pointer;
}

.navbar-brand:hover {
	color: #028090;
	font-size: 140%;
	font-weight: 700;
	cursor: pointer;
}



a{
	color: white;
}
a:hover {
	color: #028090;
	text-decoration: none;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #F6AE2D;
}

.navbar-collapse {
	justify-content: flex-end;
}


.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.text-white h1 {
	color: black;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {

	background: #000;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid #028090;
	background: #114B5F;
	color: #000;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #028090;
	border: 1px solid #028090;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

/*--- job cars ---*/

.worker-title{
	text-align: center;
	padding: 15px;
	font-weight: 400;
	color: #fff;
}

.box {
	color: #fff;
	position: relative;
	width: 200px;
	height: 200px;
	background: #000;
	transition: 0.5s;
	transform-style: preserve-3d;
	overflow: hidden;
	margin-right: 30px;
	margin-top: 45px;
}

.container .box:hover {
	transform: rotateY(0deg) scale(1.25);
	z-index: 1;
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container .box .imgBx:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #028090, #000);
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
	mix-blend-mode: multiply;
}

.container .box:hover .imgBx:before {
	opacity: 1;
}

.container .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .box .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	padding: 20px;
	align-items: flex-end;
	box-sizing: border-box;
}

.container .box .content h2 {
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 20px;
	transform: translateY(200px);
	transition-delay: 0.3s;
}

.container .box:hover .content h2 {
	transform: translateY(0px);
}

.container .box .content p {
	color: #fff;
	transition: 0.5s;
	font-size: 14px;
	transform: translateY(200px);
	transition-delay: 0.4s;
}

.container .box:hover .content p {
	transform: translateY(0px);
}


/*--- team section ---*/

.background {
	background: #999;
	padding: 4em 0;
}

.team {
	color: #5e5e55;
	padding: 0 180px;
}

.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.team .card {
	background: none;
	border: none;
}

.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}

/*--- modal ---*/

#demo-modal .modal-content {
	border-radius: 0;
	padding: 2rem;
}

#demo-modal .modal-header {
	border-bottom: none;
}

#demo-modal h4 {
	color: #000;
	font-size: 30px;
	margin: 0 0 25px;
	font-weight: bold;
	text-transform: capitalize;
}

#demo-modal .close {
	background: #c0c3c8;
	border-radius: 50%;
	color: #fff;
	font-size: 19px;
	font-weight: normal;
	height: 30px;
	opacity: 0.5;
	padding: 0;
	position: absolute;
	right: 26px;
	text-align: center;
	top: 26px;
	width: 30px;
}

#demo-modal .close span {
	position: relative;
	top: -3px;
}

#demo-modal .modal-body p {
	color: #999;
}

#demo-modal .form-control,
#demo-modal .btn {
	min-height: 46px;
}

#demo-modal .btn {
	background-color: #1da098;
	border: none;
	color: #fff;
	min-width: 150px;
	transition: all 0.4s;
}

#demo-modal .btn:hover,
#demo-modal .btn:focus {
	background-color: #12968d;
}

/*--- media queries ---*/

@media (max-width: 991.98px) {

	.team {
		padding: 0 15px;

	}

	.box {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		
	}

}
@media (max-width: 1200px) {

	.team {
		padding: 0 15px;

	}

	.box {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		margin-right: 30px;
		
	}

}

@media (max-width: 400px) {

	.team {
		padding: 15px 15px 15px 70px;
	}

	.box {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
	}

}



@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}

	.description h1 {
		font-size: 2em;
	}

	.description p {
		font-size: 1.2rem;
	}

	.features {
		margin: 0;
	}

	.team {
		max-width: 60%;
	}

	#demo-modal .btn {
		min-width: auto;
	}

}